
a {
    cursor: pointer;
}

#editor {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

#terminalDialog pre,
.action-list {
    height: 230px;
    overflow-x: hidden;
    overflow-y: auto;
}

.modal-dialog {
    width: 75%;
}

#promptDialog .modal-dialog {
    width: 400px;
}

.list-group-item {
    padding: 10px 15px;
    border-top: 0;
}